<nav class="navbar">
<%=button_to root_path, class: "home" do%>
<div><</div>
<%end%>
<div><%=@prompt%></div>
<%=link_to destroy_user_session_path do%>
<div class="logout"><%="\u{1F6AA}"%></div>
<%end%>
</nav>