<div class="backsplash">
  <div>
    <div class="backsplash-home"><%="\u{1F44B}"%></div>
    <%=link_to splash_path do%>
      <div class=add-button>Take Me Home</div>
    <%end%>
  </div>
</div>

<p class="notice"><% notice %></p>
<p class="alert"><% alert %></p>