@import 'rails_emoji_picker';

@font-face {
  font-family: 'Montserrat';
  src: url('Proxima-Nova.ttf');
}

a {
  text-decoration: none;
}

* {
  font-family: 'Proxima Nova', 'Courier New', Courier, monospace, serif, sans-serif;
  background-color: #3778c2;
  color: #434b54;
  margin: 0;
  padding: 0;
}

.green {
  background-color: #5fb523;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: #3778c2;
}

.navbar > * {
  color: white;
}

.logout {
  font-size: 2rem;
  color: white;
}

button {
  all: unset;
  cursor: pointer;
  padding: 5px;
  color: white;
}

.home > * {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}

.home:focus {
  outline: white 5px auto;
}

/* Splash Screen */

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Category Index */

.category-card {
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
}

.category-name,
.category-icon {
  background-color: white;
  text-decoration: none;
  font-size: 2rem;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
